attrs==22.1.0
exceptiongroup==1.0.4
iniconfig==1.1.1
numpy==1.23.5
packaging==21.3
pandas==1.1.5
pluggy==1.0.0
pyparsing==3.0.9
pytest==7.2.0
python-dateutil==2.8.2
pytz==2022.6
six==1.16.0
tomli==2.0.1
Unidecode==1.2.0
